{{#*inline "collectionNavLink"}}
  <li><a href="{{ metadata.path }}">{{ metadata.title }}</a></li>
{{/inline}}

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

    <title>Lasers and Feelings - {{ title }}</title>
  </head>
  <body>
    <header>
      <h1>Lasers and Feelings</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          {{> collectionNavLink collections.journals }}
          {{> collectionNavLink collections.characters }}
          {{> collectionNavLink collections.npcs }}
          {{> collectionNavLink collections.locations }}
          {{> collectionNavLink collections.factions }}
          {{> collectionNavLink collections.species }}
          {{> collectionNavLink collections.items }}
          {{> collectionNavLink collections.uncategorised }}
        </ul>
      </nav>
    </header>
    <h2>{{ title }}</h2>
